<!-- About Section -->
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">

                <img class="montagne4" src="img/montagne4.png" alt="">
                <img class="arbre2 hideonmobile" src="img/arbre2.png" alt="">

                <h2 class="section-heading">Calendrier</h2>
                <h3 class="section-subheading text-muted">Calendrier des actions SESAM'GR 2017</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="timeline">

                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/calendrier1.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>MARS 2017</h4>
                                <h4 class="subheading">Tournages actions innovantes</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Les équipes de Réseau Canopé Grand Est mènent des reportages dans les classes, les festivals de théâtre... <br />16 mars : <i>Lili Engel</i> à Freyming Merlebach des différents pays engagés dans le projet. <br />21 mars
                                    : <i>Festival du Théâtre multilingue</i> organisé par les provinces belges de Liège et du Luxembourg.</p>
                            </div>
                        </div>
                    </li>

                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/calendrier2.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>AVRIL 2017</h4>
                                <h4 class="subheading">Théâtre Grande Région</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Réunion des partenaires ( Provinces de Liège et du Luxembourg, Lycée de Schengen, CD57 et Canopé) à Montigny-lès-Metz afin de proposer un projet théâtral avec une classe par territoire.
                                </p>
                            </div>
                        </div>
                    </li>
                    <img class="arbre3 hideonmobile" src="img/arbre1.png" alt="">
                    <li class="timeline">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/calendrier5.jpg" alt="">
                        </div>

                        <img class="arbre4 hideonmobile" src="img/arbre1.png" alt="">

                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Mai 2017</h4>
                                <h4 class="subheading">Dossier suivi</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Tournage à Saint Avold d’une pièce réalisée par les élèves de Mme Houareau à des fins de ressources pédagogiques.</p>
                            </div>
                        </div>
                    </li>

                        <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/calendrier3.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Juin 2017</h4>
                                <h4 class="subheading"> Projet « Théâtre Grande Région »</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Atteinte prévue de l’objectif « Une classe pour chaque partenaire de la grande région ».</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/calendrier6.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Octobre & Novembre 2017</h4>
                                <h4 class="subheading">« Excel'Langues 2017 »</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Des reportages au sein de plusieurs ateliers de découverte des langues par l’action, au cours de cette manifestation organisée par le réseau Langues de la Province du Luxembourg.</p>
                            </div>
                        </div>
                    </li>

                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/calendrier4.jpg" alt="">
                        </div>

                        <img class="arbre4 hideonmobile" src="img/arbre1.png" alt="">

                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>DÉCEMBRE 2017</h4>
                                <h4 class="subheading">Présentation du jeu en ligne</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Mise en service de la première tranche du jeu numérique collaboratif de découverte du territoire de la Grande Région.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <h4>Vous
                                    <br>entrez dans
                                    <br>le projet !</h4>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
