<!-- Clients Aside -->
    <section id="team" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">

                 <img class="montagne5 hideonmobile" src="img/montagne5.png" alt="">
                 <img class="montagne6" src="img/montagne6.png" alt="">

                    <h2 class="section-heading">Partenaires</h2>
                    <h3 class="sous-titre_partenaires text-muted">Ensemble des partenaires du projet SESAM’GR</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2 col-sm-6">
                    <a href="https://bm.rlp.de/de/startseite/" target="_blank">
                        <img src="img/logos/logo01.jpg" class="img-responsive img-centered" alt="logo_rheinlandpfalz">
                    </a>
                </div>
                <div class="col-md-2 col-sm-6">
                    <a href="https://www.reseau-canope.fr/" target="_blank">
                        <img src="img/logos/logo02.jpg" class="img-responsive img-centered" alt="logo_canope">
                    </a>
                </div>
                <div class="col-md-2 col-sm-6">
                    <a href="http://www.saarmoselle.org/" target="_blank">
                        <img src="img/logos/logo03.jpg" class="img-responsive img-centered" alt="logo_saarmoselle">
                    </a>
                </div>
                <div class="col-md-2 col-sm-6">
                    <a href="http://www.alsacechampagneardennelorraine.eu/" target="_blank">
                        <img src="img/logos/logo04.jpg" class="img-responsive img-centered" alt="logo_grand_est">
                    </a>
                </div>
                <div class="col-md-2 col-sm-6">
                    <a href="http://www.federation-wallonie-bruxelles.be/" target="_blank">
                        <img src="img/logos/logo05.jpg" class="img-responsive img-centered" alt="logo_fede_wallonie_bruxelle">
                    </a>
                </div>
                <div class="col-md-2 col-sm-6">
                    <a href="https://www.interreg-gr.eu/fr/homepage_fr/" target="_blank">
                        <img src="img/logos/logo06.jpg" class="img-responsive img-centered" alt="logo_interreg">
                    </a>
                </div>

            </div>
            <div class="row">
                                <div class="col-md-2 col-sm-6">
                    <a href="http://www.moselle.fr/Pages/default.aspx" target="_blank">
                        <img src="img/logos/logo07.jpg" class="img-responsive img-centered" alt="logo_departement_moselle">
                    </a>
                </div>
                <div class="col-md-2 col-sm-6">
                    <a href="https://www.merzig-wadern.de/" target="_blank">
                        <img src="img/logos/logo08.jpg" class="img-responsive img-centered" alt="logo_landkreis_merzig_wadern">
                    </a>
                </div>
                <div class="col-md-2 col-sm-6">
                    <a href="http://www.trier-saarburg.de/" target="_blank">
                        <img src="img/logos/logo09.jpg" class="img-responsive img-centered" alt="logo_landkreis_trier_saarburg">
                    </a>
                </div>
                <div class="col-md-2 col-sm-6">
                    <a href="http://www.ac-nancy-metz.fr/" target="_blank">
                        <img src="img/logos/logo10.jpg" class="img-responsive img-centered" alt="logo_academie_nancy_metz">
                    </a>
                </div>
                <div class="col-md-2 col-sm-6">
                    <a href="http://www.provincedeliege.be/" target="_blank">
                        <img src="img/logos/logo11.jpg" class="img-responsive img-centered" alt="logo_province_liege">
                    </a>
                </div>
                <div class="col-md-2 col-sm-6">
                    <a href="http://www.weiter-mit-bildung.be/home/" target="_blank">
                        <img src="img/logos/logo12.jpg" class="img-responsive img-centered" alt="logo_st_vith">
                    </a>
                </div>
            </div>
            <div class="row">

                 <div class="col-md-2 col-sm-6">
                    <a href="http://bassinefe.be/" target="_blank">
                        <img src="img/logos/logo13.jpg" class="img-responsive img-centered" alt="logo_bassin_efe">
                    </a>
                </div>
                <div class="col-md-2 col-sm-6">
                    <a href="http://www.schengenlyzeum.eu/" target="_blank">
                        <img src="img/logos/logo14.jpg" class="img-responsive img-centered" alt="logo_schengen_lyzeum">
                    </a>
                </div>
                <div class="col-md-2 col-sm-6">
                    <a href="http://www.lpm.uni-sb.de/typo3/index.php?id=867&no_cache=1" target="_blank">
                        <img src="img/logos/logo15.jpg" class="img-responsive img-centered" alt="logo_saarland">
                    </a>
                </div>
                <div class="col-md-2 col-sm-6">
                    <a href="http://www.promemploi.be/">
                        <img src="img/logos/logo16.jpg" class="img-responsive img-centered" alt="logo_prom_emploi" target="_blank">
                    </a>
                </div>
                <div class="col-md-2 col-sm-6">
                    <a href="http://www.province.luxembourg.be/fr/accueil.html?IDC=2775#.WN5v6FPyj0M">
                        <img src="img/logos/logo17.jpg" class="img-responsive img-centered" alt="logo_province-luxembourg" target="_blank">
                    </a>
                </div>
                <div class="col-md-2 col-sm-6">
                    <a href="http://www.reseaulux.be/spip.php?page=sommaire&a=0">
                        <img src="img/logos/logo18.jpg" class="img-responsive img-centered" alt="logo_reseau_lux" target="_blank">
                    </a>
                </div>
            </div>

            <div class="row">
                 <div class="col-md-2 col-sm-6">
                    <a href="http://www.luxembourg.public.lu/fr/le-grand-duche-se-presente/systeme-politique/institutions-politiques/gouvernement/index.html">
                        <img src="img/logos/logo19.jpg" class="img-responsive img-centered" alt="logo_gouv_grand_duche">
                    </a>
                </div>
                <div class="col-md-2 col-sm-6">
                    <a href="http://www.saarland.de/ministerium_bildung_kultur.htm">
                        <img src="img/logos/logo20.jpg" class="img-responsive img-centered" alt="logo_logo_saarland" target="_blank">
                    </a>
                </div>
                <div class="col-md-2 col-sm-6">
                    <a href="https://www.uni-kl.de/startseite/">
                        <img src="img/logos/logo21.jpg" class="img-responsive img-centered" alt="logo_kaiserslautern" target="_blank">
                    </a>
                </div>
                <div class="col-md-2 col-sm-6">
                    <a href="http://www.meurthe-et-moselle.fr/">
                        <img src="img/logos/logo22.jpg" class="img-responsive img-centered" alt="logo Meurthe-et-Moselle" target="_blank">
                    </a>
                </div>

            </div>
        </div>
    </section>
