<!-- Services Section -->
    <section id="services" class="bg-light-gray">
        <div class="container">
            <div class="row">

          <img class="arbre1 hideonmobile" src="img/arbre1.png" alt="">

                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Le projet SESAM'GR</h2>
                    <h3 class="section-subheading text-muted">"Des clefs pour l'avenir des jeunes dans la Grande Région: langues, interculturalité, information et orientation professionnelle via l'éducation"</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">


                    <img src="img/projet1.jpg" height="154" width="auto" class="img-circle" >

                    <h4 class="service-heading">Langue</h4>
                    <p class="text-muted">Ce projet a pour objectif d’offrir aux jeunes dès le plus jeune âge, les compétences-clés pour vivre, évoluer et travailler dans une Grande Région Transfrontalière attractive et compétitive. Afin d’y parvenir, les partenaires lorrains, sarrois, luxembourgeois, rhénans-palatins et belges mettront en œuvre des mesures d’accompagnement et de renforcement des parcours plurilingues de la maternelle au collège, des projets développant les compétences interculturelles des jeunes en vue de promouvoir une citoyenneté partagée et enfin, des opérations préparant les futurs actifs aux perspectives professionnelles de la Grande Région."</p>
                </div>
                <div class="col-md-4">


                    <img src="img/projet2.jpg" height="154" width="auto" class="img-circle" >

                    <h4 class="service-heading">Interculturalité</h4>
                    <p class="text-muted">Il est désormais indispensable, en tant que jeune citoyen actif et réactif, de pouvoir s’intégrer très rapidement dans des environnements économiques et interculturels de plus en plus évolutifs. Y contribuent notamment : la maitrise de la langue du voisin ; une meilleure connaissance du territoire, du patrimoine, de ses habitants et des diversités culturelles de la Grande Région ; la connaissance, à des degrés différents, dès le plus jeune âge, des spécificités du monde du travail au sein de la Grande Région.</p>
                </div>
                <div class="col-md-4">


                    <img src="img/projet4.jpg" height="154" width="auto" class="img-circle" >

                    <h4 class="service-heading">Approche du monde du travail</h4>
                    <p class="text-muted">Concrètement, le projet s’articule autour de trois axes :
                    1. L’accompagnement et le renforcement de parcours plurilingues sans discontinuité de la maternelle au secondaire, dans le cadre notamment d’initiatives d’un groupe d’experts issu de la communauté éducative (éducation formelle et non formelle) ;
                    2. Le développement de compétences interculturelles en vue de promouvoir une citoyenneté partagée ;
                    3. La préparation des jeunes, futurs actifs, aux perspectives professionnelles de la Grande Région (éducation à l’orientation professionnelle, approche et liens avec le monde économique et socio-économique, visites et stages en entreprises avec préparation et suivi, etc.).</p>
                </div>
            </div>
        </div>
    </section>
